In [1]:
import pandas as pd

### Partie A - Nettoyage des données

#### Question 1

In [4]:
df = pd.read_csv("./data/dataset.csv")

df.loc[df['availability'] == 'Immediate Possession', 'availability'] = '01-Jan'
df.loc[df['availability'] == 'Ready To Move', 'availability'] = '01-Jan'
df['availability'] = pd.to_datetime(df['availability'], format='%d-%b')
df['availability'] = df['availability'] +  pd.DateOffset(years=123)

df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2023-12-19,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,2023-01-01,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,2023-01-01,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,2023-01-01,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,2023-01-01,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,2023-01-01,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,2023-01-01,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,2023-01-01,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,2023-06-18,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,2023-01-01,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

#### Question 2

In [9]:
import re

df['size'] = df['size'].replace(to_replace ='[A-Za-z]', value = '', regex = True)

df['size'] = pd.to_numeric(df['size'], downcast='unsigned')
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2023-12-19,Electronic City Phase II,2.0,Coomee,1056,2.0,1.0,39.07
1,Plot Area,2023-01-01,Chikka Tirupathi,4.0,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,2023-01-01,Uttarahalli,3.0,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,2023-01-01,Lingadheeranahalli,3.0,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,2023-01-01,Kothanur,2.0,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,2023-01-01,Whitefield,5.0,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,2023-01-01,Richards Town,4.0,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,2023-01-01,Raja Rajeshwari Nagar,2.0,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,2023-06-18,Padmanabhanagar,4.0,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,2023-01-01,Doddathoguru,1.0,NaN,550,1.0,1.0,17.00